/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-col-img);
  font-variation-settings: var(--main-fonts);
  background-size: cover;
  padding-top: 102px;
}

.header {
  max-width: 696px;
  min-height: 364px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
  margin: auto;
  background-color: var(--main-bg-color);
  border: 2px solid var(--main-color);
}

.theme-menu {
  margin-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__item {
  color: var(--main-color);
}



.theme-menu__button {
  font-family: var(--header-fonts);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  position: relative;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -20px;
  animation: arrow 0.5s, ease-in-out;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.theme-menu__button:hover {
  color: var(--main-color);
  transition: opacity 0.3s;
  opacity: 60%;
}

.theme-menu__button:focus {
  outline: none;
  color: var(--main-color);
  transition: opacity 0.3s;
  opacity: 60%;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  transition: none;
}

.theme-menu__button:focus::after {
  width: 100%;
  background-color: var(--main-color);
  transition: width 300ms, background-color 0.3s;
}

.header__title {
  font-family: var(--header-fonts);
  font-size: 65px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-color);
  margin-bottom: 20px;
}

.header__paragraph {
  font-family: var(--header-fonts);
  font-size: 23px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-color);
  margin-bottom: 25px;
  

}

.content {
  width: 698px;
  margin: auto;
  margin-block-start: 102px;
  
}

.section {
  display: grid;
  border: 2px solid var(--main-color); 
  background-color: var(--main-bg-color); 
}

.section__titel {
  font-size: 18px;
  font-weight: 785;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-color);
  margin: 3px 10px;
}

.section__img {
  width: 696px;
  height: 696px;
  object-fit: cover;
  object-position: center;
  padding: 0;
  margin: 0;
}

.section__content {
  display: grid;
  grid-gap: 25px;
}

.block_paragraph {
  font-size: 18px;
  font-weight: 465;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-color);
  margin: 25px 25px 0 25px;
}

.button-wraper {
  display: flex;
  justify-self: end;
  align-items: center;
  gap: 12px;
  margin: 25px 25px 25px 0;
}

.card__icon-button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.card__icon-button:focus .like-icon {
  outline: 2px solid var(--main-color);
  transition: outline 0.3s ease;
}

.like-icon.is-liked .heart {
  animation: scaling 0.3s 0.01s ease-in;
  animation-duration: alternate;
  transform-origin: center;
}

.contour {
  fill: var(--main-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: #FF0000;
  transition: fill 0.3s 0.06s;
}

.main-body {
  fill: rgb(0 0 0/ 0);
  transition: fill 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--main-color);
  transition: fill 0.3s 0.05s;
}

.like-icon:active .main-body {
  outline: none;
  fill: #FF0000;
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .main-body {
  fill: #FF0000;
  transition: fill 0.3s 0.05s;
}

.core {
  fill: rgb(0 0 0/ 0);
  transition: fill 0.3s 0.03s;
}

.like-icon:hover .core {
  fill: var(--main-color);
  transition: fill 0.3s, ease;
}

.like-icon:active .core {
  outline: none;
  fill: #FF0000;
  transition: fill 0.3s ease;
}

.like-icon.is-liked .core {
  fill: #FF0000;
  transition: fill 0.3s;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
  animation-duration: alternate;
}

.card__like-button {
  width: 130px;
  height: 38px;
  border: 2px solid var(--main-color);
  padding: 9px, 17px, 9px, 17px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--main-color);
  transition: box-shadow 0.3s;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transform-origin: left;
  transform:scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}


.button__text {
  font-family: var(--header-fonts);
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--but-color);
  text-transform:lowercase;
  mix-blend-mode: difference;
}

.section__preparation {
  margin-block-start: 52px;
}

.section__sheet {
  margin-block-start: 52px;

}

.section__it-will-work {
  margin-block-start: 52px;

}

.section__chase {
  margin-block-start: 52px;

}

.section__nearby {
  margin-block-start: 52px;

}

.section__strategies {
  margin-block-start: 52px;
  
}

.section__hands {
  margin-block-start: 52px;

}

.section__here {
  margin-block-start: 52px;
  margin-block-end: 52px;
}

.footer {
  max-width: 335px;
  margin: auto;
  margin-block-end: 105px;
  background-color: var(--main-bg-color);
}

.floppy-svg {
  color: var(--main-color);
}

.dialog_button-open {
  width: 335px;
  height: 51px;
  border: 2px solid var(--main-color);
  font-family: var(--header-fonts);
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  background-color: transparent;
}

.dialog_paragraph {
  font-family: var(--header-fonts);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.dialog_button-close {
  width: 293px;
  height: 38px;
  padding: 9px, 17px, 9px, 17px;
  border: 2px solid var(--main-color);
  gap: 10px;
  background-color: transparent;
}