/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background: linear-gradient(180deg, #007F0C 0%, #004306 100%);
  font-variation-settings: var(--main-fonts);
}

.header {
  max-width: 696px;
  min-height: 364px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
  margin: auto;
  background-color: var(--main-bg-color);
  border: 2px solid var(--main-color);
}

.theme-menu {
  margin-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__item {
  color: var(--main-color);
}

.theme-menu__button {
  font-family: var(--header-fonts);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  text-transform:lowercase;
  color: var(--main-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__title {
  font-family: var(--header-fonts);
  font-size: 65px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-color);
  margin-bottom: 20px;
}

.header__paragraph {
  font-family: var(--header-fonts);
  font-size: 23px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-color);
  margin-bottom: 25px;
  

}

.content {
  width: 698px;
  margin: auto;
  margin-block-start: 102px;
  /* display: flex;
  flex-direction: column;
  gap: 52px; */
}

.section {
  display: grid;
  border: 2px solid var(--main-color); 
  background-color: var(--main-bg-color); 
}

.section__titel {
  font-size: 18px;
  font-weight: 785;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-color);
  margin: 3px 10px;
}

.section__img {
  width: 696px;
  height: 696px;
  object-fit: cover;
  object-position: center;
  padding: 0;
  margin: 0;
}

.section__content {
  display: grid;
  grid-gap: 25px;
}

.block_paragraph {
  font-size: 18px;
  font-weight: 465;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-color);
  margin: 25px 25px 0 25px;
}

.block_button {
  width: 130px;
  height: 38px;
  padding: 9px, 17px, 9px, 17px;
  font-family: var(--header-fonts);
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--main-color);
  text-transform:lowercase;
  background-color: transparent;
  border: 2px solid var(--main-color);
  justify-self: end;
  margin: 25px 25px 25px 0;
}

.section__preparation {
  margin-block-start: 52px;
}

.section__sheet {
  margin-block-start: 52px;

}

.section__it-will-work {
  margin-block-start: 52px;

}

.section__chase {
  margin-block-start: 52px;

}

.section__nearby {
  margin-block-start: 52px;

}

.section__strategies {
  margin-block-start: 52px;
  
}

.section__hands {
  margin-block-start: 52px;

}

.section__here {
  margin-block-start: 52px;

}