/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/


:root.theme-dark {
    --main-color: #00CC14;
    --main-bg-color: #000000;
    --but-color: #00CC14;
    --dialog-text-color: #00CC14;
    --flop-col: rgb(0, 204, 20);
    --wgth-big: 785;
    --wgth-min: 465;
    --bg-col-img: repeating-linear-gradient(90deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, #000 0 2px,  rgb(0 0 0 / 0) 2px 4px), linear-gradient(180deg, #007f0c 0%, #004306 100%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #00CC14;
        --main-bg-color: #000000;
        --but-color: #00CC14;
        --dialog-text-color: #00CC14;
        --flop-col: #00CC14;
        --wgth-big: 785;
        --wgth-min: 465;
        --bg-col-img: repeating-linear-gradient(90deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, #000 0 2px,  rgb(0 0 0 / 0) 2px 4px), linear-gradient(180deg, #007f0c 0%, #004306 100%);
    }
}

:root.theme-light {
    --main-color: #000000;
    --main-bg-color: #FFFFFF;
    --but-color: #fff;
    --dialog-text-color: #000000;
    --flop-col: #FFFFFF;
    --wgth-big: 700;
    --wgth-min: 400;
    --bg-col-img: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px), repeating-linear-gradient(180deg, #d3d3d3 0 2px,  rgb(211 211 211 / 0) 2px 4px), linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
}

@media (prefers-color-scheme: light) {
    :root {
        --main-color: #000000;
        --main-bg-color: #FFFFFF;
        --but-color: #fff;
        --dialog-text-color: #000000;
        --flop-col: rgb(255, 255, 255);
        --wgth-big: 700;
        --wgth-min: 400;
        --bg-col-img: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px), repeating-linear-gradient(180deg, #d3d3d3 0 2px,  rgb(211 211 211 / 0) 2px 4px), linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
    }
}

